@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@400;700&display=swap');


* {
    padding: 0;
    margin: 0;
}


h1, h2, p, h4 {
    font-family: 'Anonymous Pro', monospace;
    color: black;
    margin: 0;
}

h1 {
    font-weight: 700;
}

.main {
    background-color: #eeeae3;
    margin: 0;
    height: 100%;
}

.footer {
    background-color: #eeeae3;
    position: fixed;
    bottom: 0;  
}
.header {
    background-color: #eeeae3;
    display: flex-wrap;
    justify-content: space-between;
    position: relative;
    min-height: 30px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}



.container {
    display: grid;
grid-template-columns: repeat(3, 1fr);
grid-auto-rows: auto;
grid-gap: 1rem;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1rem;
     
    }

.card {
    background-color: #eeeae3;
    width: 500px;
    border-radius: 4px;
    padding: .5rem;
    box-shadow: 10px 5px 5px #b0a995;
}

.loading {
    grid-column: 2;
}


.btn {
    background-color: #dfa622;
    margin: 10px;
    padding: 10px;
}

.input::placeholder {
    font-style: italic;
    font-size: 1em;
    color: black;
    background: #f2f2f0;
    padding: 15px;
  }

  .input {
    font-style: italic;
    font-size: 1em;
    color: black;
    background: #f2f2f0;
    margin: 15px;
  }

  .input-hidden{
    display: none;
  }